main{
    border: 3px solid black;
    width: 500px;
}
/* --------- */
header{
    display: flex;
    padding: 10px;
}

header i {
    font-size: 40px;
    margin: auto 0;
}

header i:last-child{
    margin: auto 10px auto auto;
}

.title_container{
    margin: 0 0 0 10px;
    padding: 3px;
}
/* ---------------------------------------------- */

.section_image{
    display: flex;
}

.main_image{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* ----------------------------------------------- */

.icons{
    font-size: 40px;
    display: flex;
}

.icons i{
    padding: 10px;
}

.last_icon{
    margin-left: auto;
}

/* --------------- */

.likes{
    font-size: large;
    padding: 10px;
    padding-bottom: 0px;
}

.texto{
    font-size: large;
    padding: 10px;
    padding-top: 0px;
}